<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ActiveTable v0.2</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ActiveTable v0.2</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <div class="controls">
                <div class="pull-left">
                    <input type="text" class="input-filter" placeholder="Live filter by product name">
                    <!-- <a href="#" class="btn btn-info btn-filter">Filter</a>-->
                </div>
                <div class="pull-right">
                    <button class="btn btn-success btnAddProduct" data-modal-opener="modalForm">Add product</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <table class="table table-bordered table-hover table-products" id="table-products">
                <!-- Dynamically generated table content -->
            </table>
        </div>
    </div>
</div>


<!-- Modal windows-->
<div class="dm-overlay" data-modal-id="modalForm">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="md-modal-form">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-modal-closer="modalForm" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add new product</h4>
                        </div>
                        <div class="modal-body">
                            <form id="formAddItem" method="get" action="" data-checker-validate="true" enctype="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <label for="productName" class="required-filed">Name:</label>
                                    <input type="text" class="form-control" name="productName" id="productName" placeholder="Product name" data-checker-rules="required,maxlength=15">
                                </div>
                                <div class="form-group">
                                    <label for="supplierEmail" class="required-filed">Supplier email:</label>
                                    <input type="text" class="form-control input-email" name="supplierEmail" id="supplierEmail" placeholder="Email" data-checker-rules="required,email">
                                </div>
                                <div class="form-group">
                                    <label for="productCount" class="required-filed">Count:</label>
                                    <input type="text" class="form-control input-count" name="productCount" id="productCount" data-checker-rules="required,numeric">
                                </div>
                                <div class="form-group">
                                    <label for="productPrice" class="required-filed">Price:</label>
                                    <input type="text" class="form-control input-price" name="productPrice" id="productPrice" data-checker-rules="required">
                                </div>
                                <div class="form-group">
                                    <label for="selector">Select</label>
                                    <select id="selector" name="selector" class="form-control input-select">
                                        <option value="empty" selected="selected">Empty</option>
                                        <option value="radio">Radio</option>
                                        <option value="checkbox">Checkbox</option>
                                    </select>
                                </div>
                                <div class="form-group radio-group1 hidden-group">
                                    <label>Radio Group</label>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio-1" value="1">
                                            Option 1
                                        </label>
                                    </div> <!-- /.radio -->
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio-1" value="2">
                                            Option 2
                                        </label>
                                    </div> <!-- /.radio -->
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio-1" value="3">
                                            Option 3
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group checkbox-group1 hidden-group">
                                    <label>Checkbox Group</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="select-checkboxes1">
                                            Select All
                                        </label>
                                    </div> <!-- /.checkbox -->
                                    <hr>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="checkbox-1">
                                            Option 1
                                        </label>
                                    </div> <!-- /.checkbox -->
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="checkbox-2">
                                            Option 2
                                        </label>
                                    </div> <!-- /.checkbox -->
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="checkbox-3">
                                            Option 3
                                        </label>
                                    </div> <!-- /.checkbox -->
                                </div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-submit">Add / Update</button>
                                    <button class="btn btn-default" data-modal-closer="modalForm">Close</button>
                                </div>
                                <div class="clearfix"></div>
                                <input type="hidden" value="" name="productID">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dm-overlay" data-modal-id="modalDelete">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="md-modal-form">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-modal-closer="modalDelete" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel2">Confirm delete</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want delete this item?</p>
                            <div class="pull-right">
                                <button class="btn btn-danger btn-delete-item-confirm">Delete</button>
                                <button class="btn btn-default" data-modal-closer="modalDelete">Close</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<!-- *********************** JS Templates ************************* -->
<script type="text/html" id="tpl-table-products">
    <thead>
    <tr>
        <th class="th-sorted-column th-id" data-sort-type="id">ID</th>
        <th class="th-sorted-column" data-sort-type="name">Name</th>
        <th class="th-sorted-column" data-sort-type="price">Price</th>
        <th class="th-actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(products, function(item) { %>
    <tr>
        <td><%- item.id %></td>
        <td><%- item.name %>&nbsp;&nbsp;<span class="badge"><%- item.count %></span></td>
        <td><%- helpers.formatMoney(item.price) %></td>
        <td><a href="#" class="btn btn-info btn-edit-item" data-item-id="<%= item.id %>">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-danger btn-delete-item" data-item-id="<%= item.id %>">Delete</a></td>
    </tr>
    <% }); %>
    </tbody>
</script>

<script type="text/html" id="ul-errors-block">
    <ul class="checker-error-list" style="display: block;">
        <% _.each(fieldErrors, function(error) { %>
        <li><%- error %></li>
        <% }); %>
    </ul>
</script>

<!-- *********************** JS libraries and App code ************************* -->
<script type="text/javascript" src="js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/libs/lodash.min.js"></script>
<script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="js/app/helpers.js"></script>
<!--<script type="text/javascript" src="js/app/checker.js"></script>-->
<script type="text/javascript" src="js/app/checker/init.js"></script>
<script type="text/javascript" src="js/app/checker/validators.js"></script>
<script type="text/javascript" src="js/app/checker/checker.js"></script>
<script type="text/javascript" src="js/app/app.js"></script>

</body>
</html>
